# D2 : Data Wrangling

In this week's workbook, you'll work through an example in this to gain practice on how to:
* read a DataFrame into Python
* wrangle the data
* clean the data

# Part I: Setup

Data wrangling often requires additional functionality outside what's included in Python by default. For this, we'll import other functions from helpful packages.

**Import the following packages using their common shortened name found in parentheses:**

* `numpy` (`np`)
* `pandas` (`pd`)

In [1]:
### BEGIN SOLUTION
import numpy as np
import pandas as pd
### END SOLUTION

**Run the following cell code to make things throughout the rest of this workbook a little prettier.** (Note: You don't have to edit code here, but are free to and see what changes to be sure you understand each line.)

In [2]:
# Configure libraries

# Don't display too many rows/cols of DataFrames
pd.options.display.max_rows = 7
pd.options.display.max_columns = 8

# Round decimals when displaying DataFrames
pd.set_option('precision', 2)

**Read the CSV file at the URL https://raw.githubusercontent.com/fivethirtyeight/data/master/steak-survey/steak-risk-survey.csv into Python in and assign it to the variable `survey`**.

In [3]:
### BEGIN SOLUTION
survey = pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/steak-survey/steak-risk-survey.csv')
### END SOLUTION

# take a look at the data
survey

,RespondentID,"Consider the following hypothetical situations: <br>In Lottery A, you have a 50% chance of success, with a payout of $100. <br>In Lottery B, you have a 90% chance of success, with a payout of $20. <br><br>Assuming you have $10 to bet, would you play Lottery A or Lottery B?",Do you ever smoke cigarettes?,Do you ever drink alcohol?,...,Age,Household Income,Education,Location (Census Region)
0,NaN,Response,Response,Response,...,Response,Response,Response,Response
1,3.24e+09,Lottery B,NaN,NaN,...,NaN,NaN,NaN,NaN
2,3.23e+09,Lottery A,No,Yes,...,> 60,"$50,000 - $99,999",Some college or Associate degree,East North Central
...,...,...,...,...,...,...,...,...,...
548,3.23e+09,Lottery A,Yes,Yes,...,30-44,"$50,000 - $99,999",Some college or Associate degree,South Atlantic
549,3.23e+09,Lottery A,No,Yes,...,45-60,"$50,000 - $99,999",Some college or Associate degree,Pacific
550,3.23e+09,Lottery B,Yes,Yes,...,18-29,"$0 - $24,999",NaN,Mountain

In [4]:
assert survey.shape == (551, 15)

These data contain survey responses from Americans who responded to a SurveyMonkey Audience poll. These data were used in the [FiveThirtyEight](https://fivethirtyeight.com) article: *[How Americans Like Their Steak](https://fivethirtyeight.com/features/how-americans-like-their-steak/)*

# Part II: Wrangling

**Write a line of code to look at the first few rows of the DataFrame**

In [5]:
### BEGIN SOLUTION
survey.head()
### END SOLUTION

,RespondentID,"Consider the following hypothetical situations: <br>In Lottery A, you have a 50% chance of success, with a payout of $100. <br>In Lottery B, you have a 90% chance of success, with a payout of $20. <br><br>Assuming you have $10 to bet, would you play Lottery A or Lottery B?",Do you ever smoke cigarettes?,Do you ever drink alcohol?,...,Age,Household Income,Education,Location (Census Region)
0,NaN,Response,Response,Response,...,Response,Response,Response,Response
1,3.24e+09,Lottery B,NaN,NaN,...,NaN,NaN,NaN,NaN
2,3.23e+09,Lottery A,No,Yes,...,> 60,"$50,000 - $99,999",Some college or Associate degree,East North Central
3,3.23e+09,Lottery A,No,Yes,...,> 60,"$150,000+",Graduate degree,South Atlantic
4,3.23e+09,Lottery B,Yes,Yes,...,> 60,"$50,000 - $99,999",Bachelor degree,New England

What do you notice about the first row of the dataframe? Notice that it's not actually an observation from a respondent? **Remove this row from the dataset. Assign this back to the variable `survey`. Print the first few rows again to make sure you've accomplished this.**

In [6]:
### BEGIN SOLUTION
survey  = survey.iloc[1:]
survey.head()
### END SOLUTION

,RespondentID,"Consider the following hypothetical situations: <br>In Lottery A, you have a 50% chance of success, with a payout of $100. <br>In Lottery B, you have a 90% chance of success, with a payout of $20. <br><br>Assuming you have $10 to bet, would you play Lottery A or Lottery B?",Do you ever smoke cigarettes?,Do you ever drink alcohol?,...,Age,Household Income,Education,Location (Census Region)
1,3.24e+09,Lottery B,NaN,NaN,...,NaN,NaN,NaN,NaN
2,3.23e+09,Lottery A,No,Yes,...,> 60,"$50,000 - $99,999",Some college or Associate degree,East North Central
3,3.23e+09,Lottery A,No,Yes,...,> 60,"$150,000+",Graduate degree,South Atlantic
4,3.23e+09,Lottery B,Yes,Yes,...,> 60,"$50,000 - $99,999",Bachelor degree,New England
5,3.23e+09,Lottery B,No,Yes,...,> 60,"$50,000 - $99,999",Graduate degree,Middle Atlantic

In [7]:
assert survey.shape == (550, 15)

Notice that there are a lot of different questions that were asked of respondents (columns) and 550 people who responded to the survey (rows).

**Print a list of all the column names in this DataFrame.**

We'll only end up working with a subset of these.

In [8]:
### BEGIN SOLUTION
list(survey)
### END SOLUTION

['RespondentID',
 'Consider the following hypothetical situations: <br>In Lottery A, you have a 50% chance of success, with a payout of $100. <br>In Lottery B, you have a 90% chance of success, with a payout of $20. <br><br>Assuming you have $10 to bet, would you play Lottery A or Lottery B?',
 'Do you ever smoke cigarettes?',
 'Do you ever drink alcohol?',
 'Do you ever gamble?',
 'Have you ever been skydiving?',
 'Do you ever drive above the speed limit?',
 'Have you ever cheated on your significant other?',
 'Do you eat steak?',
 'How do you like your steak prepared?',
 'Gender',
 'Age',
 'Household Income',
 'Education',
 'Location (Census Region)']

Now we have a sense of what information is included in the dataset. In the coming weeks, we'll answer the following questions:
1. Who cheats more on their significant other - males or females?
2. Are cigarette smokers less likely to skydive?
3. Do people in New England gamble more than other parts of the country?

To answer these we'll only need data from *some* of the columns in the dataset.

Let's drop the columns we don't need. **Drop the first two columns from the dataset. This should still be assigned to the variable `survey`.**

In [9]:
### BEGIN SOLUTION
survey = survey.iloc[:,2:]
### END SOLUTION

In [10]:
assert survey.shape == (550,13)

Now that we've got the columns we want, let's clean up those column names. **Rename the columns in `survey` so the appropriate columns have the following names:**

* smoking
* alcohol
* gambling
* skydiving
* speeding
* cheated
* steak
* steak_preference
* gender
* age
* income 
* education
* region

Note that a list has been provided here, with these names, so you don't have to type them all:

In [11]:
['smoking','alcohol','gambling',
 'skydiving','speeding', 'cheated',
 'steak', 'steak_preference','gender',
 'age', 'income', 'education', 'region']

['smoking',
 'alcohol',
 'gambling',
 'skydiving',
 'speeding',
 'cheated',
 'steak',
 'steak_preference',
 'gender',
 'age',
 'income',
 'education',
 'region']

In [12]:
### BEGIN SOLUTION
# survey.rename(columns={'Do you ever smoke cigarettes?': 'smoking',
#                        'Do you ever drink alcohol?' : 'alcohol',
#                        'Do you ever gamble?' : 'gambling',
#                        'Have you ever been skydiving?' : 'skydiving',
#                        'Do you ever drive above the speed limit?' : 'speeding',
#                        'Have you ever cheated on your significant other?' : 'cheated',
#                        'Do you eat steak?' : 'steak',
#                        'How do you like your steak prepared?' : 'steak_preference',
#                        'Gender' : 'gender',
#                        'Age' : 'age',
#                        'Household Income': 'income',
#                        'Education': 'education',
#                        'Location (Census Region)' : 'region' 
#                       }, inplace=True)

# OR

survey.columns = ['smoking','alcohol','gambling',
 'skydiving','speeding', 'cheated',
 'steak', 'steak_preference','gender',
 'age', 'income', 'education', 'region']
### END SOLUTION

In [13]:
assert list(survey) == ['smoking',
                        'alcohol',
                        'gambling',
                        'skydiving',
                        'speeding',
                        'cheated',
                        'steak',
                        'steak_preference',
                        'gender',
                        'age',
                        'income',
                        'education',
                        'region']

We're in pretty good shape now. **Print the first few rows of the `survey` DataFrame to see what the data look like at this point.**

In [14]:
survey.head()

,smoking,alcohol,gambling,skydiving,...,age,income,education,region
1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN
2,No,Yes,No,No,...,> 60,"$50,000 - $99,999",Some college or Associate degree,East North Central
3,No,Yes,Yes,No,...,> 60,"$150,000+",Graduate degree,South Atlantic
4,Yes,Yes,Yes,No,...,> 60,"$50,000 - $99,999",Bachelor degree,New England
5,No,Yes,No,No,...,> 60,"$50,000 - $99,999",Graduate degree,Middle Atlantic

# Part III: Cleaning

**Now that we've go the data we need, let's get a sense for how much missing data there is in this dataset by determining how many null-containing rows there are in `survey`. Assign this value to the variable `null_rows`.**

In [15]:
### BEGIN SOLUTION
null_rows = survey.isnull().any(axis=1).sum()
### END SOLUTION

In [16]:
assert null_rows == 217

Good to know that lots of people didn't answer every question. We'll keep that in mind as we work with this dataset.

Simply dropping missing observations is typically not good practice; however, in this case we'll drop observations that have missing data across the entire row, as these are individuals who didn't participate in the survey at all. **Remove rows where ALL the columns have missing data for that participant.**

In [17]:
survey.dropna?

In [17]:
### BEGIN SOLUTION
survey = survey.dropna(how='all')
### END SOLUTION

In [18]:
assert survey.shape == (541, 13)

**Print the first few rows to remind yourself what the data look like at this point.**

In [18]:
### BEGIN SOLUTION
survey.head()
### END SOLUTION

,smoking,alcohol,gambling,skydiving,...,age,income,education,region
2,No,Yes,No,No,...,> 60,"$50,000 - $99,999",Some college or Associate degree,East North Central
3,No,Yes,Yes,No,...,> 60,"$150,000+",Graduate degree,South Atlantic
4,Yes,Yes,Yes,No,...,> 60,"$50,000 - $99,999",Bachelor degree,New England
5,No,Yes,No,No,...,> 60,"$50,000 - $99,999",Graduate degree,Middle Atlantic
6,No,No,No,No,...,18-29,"$0 - $24,999",Some college or Associate degree,West South Central

Note that the first row no longer has all missing data here. We've got a dataset we can work with now!

**Great work on this workbook! We'll continue to work with this dataset in section to answer our questions of interest. You can work on other parts of the class or help a classmate work through this - we always understand things best once we've had to explain them to someone else.**